<h1>Activities</h1>

<input type="text" ng-model="search" />
<a class="btn btn-sm btn-default" ng-click="getActivities()">Search</a>
<a class="btn btn-sm btn-default" ng-click="search = null; getActivities();">Clear</a>

<table class="table table-bordered" ng-init="getActivities()">
	<thead>
		<tr>
			<th>ID</th>
			<th>Name</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="activity in activities">
			<td>{{ activity.id }}</td>
			<td>{{ activity.name }}</td>
			<td>
				<a class="btn btn-sm btn-danger" ng-click="deleteActivity(activity.id, $index)">Delete</a>
				<a class="btn btn-sm btn-default" href="#/activities/edit/{{ activity.id }}">Edit</a>
			</td>
		</tr>
	</tbody>
</table>

<div class="col-md-12 text-center">
    <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate" ng-hide="successMessage || errorMessage"></span>
    <span class="label label-danger" ng-show="errorMessage">{{ errorMessage }}</span>
</div>

<a href="#/activities/add">Add activity</a>