<input type="text" ng-model="search" />
<a class="btn btn-sm btn-default" ng-click="getActivities()">Search</a>
<a class="btn btn-sm btn-default" ng-click="search = null; getActivities();">Clear</a>

<table class="table table-bordered" ng-init="getActivities()">
	<thead>
		<tr>
			<th>ID</th>
			<th>{{ 'NAME' | translate }}</th>
			<th>{{ 'ACTIONS' | translate }}</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="activity in activities">
			<td>{{ activity.id }}</td>
			<td>{{ activity.name }}</td>
			<td>
				<a class="btn btn-sm btn-danger" ng-click="deleteActivity(activity.id, $index)">Delete</a>
				<a class="btn btn-sm btn-default" href="#/activities/edit/{{ activity.id }}">Edit</a>
			</td>
		</tr>
	</tbody>
</table>

<div class="col-md-12 text-right">
	<a class="btn btn-sm btn-default" ng-click="changePage(page - 1)" ng-disabled="page == 0">Previous</a>
	<span class="label label-default">{{ page + 1 }}</span>
	<a class="btn btn-sm btn-default" ng-click="changePage(page + 1)" ng-disabled="page == totalPages - 1">Next</a>
</div>

<div class="col-md-12 text-center">
    <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate" ng-hide="successMessage || errorMessage"></span>
    <span class="label label-danger" ng-show="errorMessage">{{ errorMessage }}</span>
</div>
