<h1>WAFEPA - Add/edit activity</h1>

<form class="form-horizontal" name="activityForm" ng-init="initActivity()" novalidate>

    <div class="form-group">
        <label class="col-sm-2">Name </label>
        <div class="col-sm-6">
            <input class="form-control" ng-model="activity.name" name="activityName" required />
        </div>
        <div class="col-sm-4">
        	<span class="label label-danger" ng-show="activityForm.activityName.$dirty
        											&& activityForm.activityName.$error.required">Please enter name</span>
        </div>
    </div>      

    <div class="form-group">
	    <div class="col-sm-offset-2 col-sm-10">
	      <button type="submit" class="btn btn-default" ng-click="saveActivity()" ng-disabled="activityForm.$invalid">Save</button>
	    </div>
	</div>
</form>